DATABASE_URL=mysql+pymysql://user:password@db:3306/subscription_db
SECRET_KEY=your-secret-key-here
JWT_SECRET_KEY=your-jwt-secret-key-here
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=adminpassword

MYSQL_DATABASE=subscription_db
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=rootpassword